@model SaitZaObuvkiComfort.Data.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Поръчка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Поръчано от:
        </dt>
        <dd class = "col-sm-10">
            @Model.Clients.Name  @Model.Clients.LastName
        </dd>
        <dt class = "col-sm-2">
           Поръчани обувки:
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Products.PhotoURL)" width="220"/>
        </dd>
        <dt class = "col-sm-2">
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity) броя
        </dd>
        <dt class = "col-sm-2">
            Дата на поръчката:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
