@model IEnumerable<SaitZaObuvkiComfort.Data.Category>

@{
    ViewData["Title"] = "Index";
}
<style>
    thead {
        background-color: #BBA2D6
    }
</style>
<center><h1>Категории</h1></center>

@if (User.IsInRole("Admin"))
{

    <center><a class="btn btn-primary" asp-action="Create">Добави категория</a></center>

}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Описание
            </th>
            <th>
                Дата на добавяне
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
