@model IEnumerable<SaitZaObuvkiComfort.Data.Product>

@{
    ViewData["Title"] = "Index";
}
<style>
    thead{
        background-color: #BBA2D6
    }
</style>
<center><h1>Обувки</h1></center>

@if (User.IsInRole("Admin"))
{

    <center><a class="btn btn-primary" asp-action="Create">Добави обувки</a></center>

}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Наименование
            </th>
            <th>
               Категория
            </th>
            <th>
                Размер
            </th>
            <th>
                Цена
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            }
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoURL)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                }
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn-btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn-btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class ="btn-btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
         
        </tr>
}
    </tbody>
</table>
